---
# Front matter comment to ensure Jekyll properly reads file.
---

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:#222;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 20px;

	a {
		color:#222;
	}
}

.site-header {
	margin-top:42px;

	p {
		color:#666;
	}
}

.bookshelf {
	margin-top:42px;

	.book {
		width:316px;
		height:auto;
	}

	a > img:hover {
		opacity: 0.8;
	}

	h2 {
		margin-top:26px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.4em;
	}

	h3 {
		text-transform: uppercase;
		font-size: 12px;
		color:#999;
		margin-top: 0px;
	}

	p {
		margin-top:16px;
		font-size: 16px;
		line-height: 1.65em;
		color: #666;
		font-weight: 300;
	}
}

