---
# Front matter comment to ensure Jekyll properly reads file.
---

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:#222;
  background:#f9f9f9;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 20px;

	a {
		color:#222;
	}
}

.navbar-default {
	background:#fff;
	border-bottom:1px solid #EBEBEB;

	.navbar-nav>li>a {
	    margin-top: 10px;
	    text-transform: uppercase;
	    font-size:12px;
	    letter-spacing: 0.03em;
	}

	.sig {
		background-image: url(/img/sig-long.gif);
		background-repeat: no-repeat;
		background-size: 200px;
		display: block;
		height: 70px;
		width: 200px;
		background-position: 0px 50%;	
	}
	.updates-btn {
		background-color:#67AFD0;
		border-radius: 20px;
		padding:9px 20px;
		color: #fff !important;
		margin-top: 15px !important;

		&:hover {
			background-color: #5794B0 !important;
		}
	}
}

.site-header {
	margin-top:40px;



	p {
		color:#666;
	}
}

.bookshelf {
	margin-top:118px;

	.book {
	   height:auto;
		 box-shadow:5px 5px 0px rgba(0,0,0,0.07);
	}

	a > img:hover {
/*		box-shadow:0px 0px 30px rgba(0,0,0,0.15);
*/	}

	h2 {
		margin-top:26px;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.4em;
	}

	h3 {
		text-transform: uppercase;
		font-size: 12px;
		color:#999;
		margin-top: 0px;
	}

	p {
		margin-top:16px;
		font-size: 16px;
		line-height: 1.65em;
		color: #666;
		font-weight: 300;
	}
}

