---
# Front matter comment to ensure Jekyll properly reads file.
---

$res_xs: 480px;
$res_sm: 768px;
$res_md: 992px;
$res_lg: 1200px;


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:#222;
  background:#fff;

  @media (max-width: $res_xs) {
    background:red;
  }
}

.left-pane {
	width:336px;
	height:100%;
	background:#f9f9f9;
	position: fixed;
	top: 0;
	bottom: 0;
	padding-top: 48px;

	@media (max-width: $res_md-2) {
	  width:288px;
	}

	.sig {
		background-image: url(/img/sig-with-bg.png);
		background-repeat: no-repeat;
		background-size: 200px;
		display: block;
		height: 70px;
		width: 200px;
		background-position: 0px 50%;
		margin-top: 12px;	
	}

	p {
		margin: 0 0 10px;
		font-size: 14px;
		text-align: justify;
		line-height: 1.6em;
		font-weight: 200;
		margin: 10px 0px 30px 0px;
	}
	.updates-btn {
		background-color:#67AFD0;
		border-radius: 20px;
		padding:9px 20px;
		color: #fff !important;
		margin-top: 15px !important;
		display: block;
		text-align: center;
		text-transform: uppercase;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.04em;

		&:hover {
			background-color: #5794B0 !important;
		}
	}
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 20px;

	a {
		color:#222;
	}
}


.bookshelf {
	position: absolute;
	left:360px;
	max-width: 960px;
	min-width: 320px;

	@media (max-width: $res_md+32) {
	  left:340px;
	}

	@media (max-width: $res_md) {
	  left:290px;
	}

	.row {
		margin: 48px 0px;
	}

	.book {
	   height:auto;
		 box-shadow:5px 5px 0px rgba(0,0,0,0.07);
	}

	a > img:hover {
/*		box-shadow:0px 0px 30px rgba(0,0,0,0.15);
*/	}

	h2 {
		font-size: 18px;
		line-height: 1.4em;
		margin-top: 0px;
		font-weight: 400;
	}

	h3 {
		text-transform: uppercase;
		font-size: 12px;
		color:#999;
		margin-top: 0px;
	}

	p {
		margin-top:14px;
		font-size: 15px;
		line-height: 1.65em;
		color: #666;
		font-weight: 300;
	}
}

